html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #222;
} 

/** NAV BAR **/
nav {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 1px;
    right: 0;
}

nav li {
    list-style-type: none;
    display: inline;
}

nav #leftNav {
    float: left;
    position: absolute;
    margin: 7px 0 0 10px;
}

nav #leftNav ul {
    padding-left: 0;
}

nav #leftNav li {
    padding-left: 15px;
}

nav #rightNav {
    float: right;
    padding: 0 30px 0 30px;
    position: relative;
    margin: 7px 0 10px 0;
}

nav #rightNav ul {
    padding-right: 15px;
}

nav #rightNav li:nth-child(2) {
    padding-left: 15px;
}

nav #rightNav #signIn {
    margin-left: 15px;
    color: #fff;
    border: 1px solid #4285f4;
    font-weight: bold;
    background:-moz-linear-gradient(top,#4387fd,#4683ea);
    padding: 0 12px;
    line-height: 28px;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    font-size: 13px;
}

nav li a:hover {
    text-decoration: underline;
}

/** MAIN BODY **/

#image {
    height: 233px;
    margin-top: 89px;
}

#image img {
    margin: auto;
    display: block;
    height: 92px;
    position: relative;
    width: 272px;
    top: 90px;
}

#searchBar input {
    margin: auto;  
    height: 44px;
    width: 584px;
    display: block;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    padding-left: 15px;

}

#searchBar input:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#searchBar input:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#misc {
    
    margin: 0 auto;
    text-align: center;
    padding-top: 18px;

}

#misc input {
    height: 36px;
    line-height: 27px;
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

#misc input:hover {
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;    
}

#french {
    text-align: center;
}

#french p {
    line-height: 28px;
    display: inline-block;
    font-size: small;
}

#french a {
    color: #1a0dab;
    text-decoration: none;
    padding: 0 3px;
}

#french a:hover {
    text-decoration: underline;
}

/** FOOTER **/

#firstFooter {
    position: absolute;
    bottom: 40;
    left: 0;
    background: #f2f2f2;
    width: 100%;
    line-height: 20px;
    border-top: 1px solid #e4e4e4;

}

#firstFooter p {
    padding-left: 27px;
    color: #666;
    font-size: 15px;
}

footer {

    font-size: 13px;
    color: #666; 
    position: absolute;
    bottom: 0;
    left: 0;
    background: #f2f2f2;
    line-height: 20px;
    width: 100%;
    border-top: 1px solid #e4e4e4;


}


/** Left Footer **/
#leftFooter {
    list-style-type: none;
    float: left;
    padding-left: 0%;
    
}

#leftFooter li {
    display: inline;
    padding-left: 27px;
}

#leftFooter a {
    text-decoration: none;
    color: #666; 
}

#leftFooter a:hover {
    color: #333;
    text-decoration: underline;
}

/** Right Footer **/
#rightFooter {
    list-style-type: none;
    float: right;
    padding-right: 40px;
}

#rightFooter li {
    display: inline;
    padding-left: 27px;
}

#rightFooter a {
    text-decoration: none;
    color: #666; 
}


#rightFooter a:hover {
    color: #333;
    text-decoration: underline;
}
